<% if current_user %>
<div class="container">
  <%= "Welcome #{current_user.first_name}"%>
</div>
<% else %>
<div class="container">
  <%= "Biggie for Life "%>
  <%= link_to "Sign Up", signup_path %>
</div>
<% end %>
